---
Language: Cpp
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
IndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always