# Build related
*.o
CMakeCache.txt
cmake_install.cmake
Makefile
bin/
CMakeFiles/
build/
CrossCompiler/

# Test
screenshot/
/test/

# Personal setting
.vscode/
.clang-format

# Others
Application/
Flashing/
cc/
