# Build related
*.o
CMakeCache.txt
cmake_install.cmake
Makefile
bin/
CMakeFiles/
build/
CrossCompiler/
CrossCompiler

# Test
screenshot/
/test/
imgs/

# Personal setting
.vscode/

# Others
Application/
Flashing/
cc/
